/* $Id: skin1.css,v 1.84.2.12 2006/07/19 10:19:34 max Exp $ */
/*
	General styles
*/
BODY,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA,TT {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
	FONT-SIZE: 10px;
}
A:link {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A:visited {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #550000;
	TEXT-DECORATION: underline;
}
A:active  {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
H1 {
	FONT-SIZE: 15px;
}
H2 {
	FONT-SIZE: 13px;
}
H3 {
	FONT-SIZE: 12px;
}
HR {
	COLOR: #DDDDDD;
	HEIGHT: 1px;
}
HTML,BODY {
	HEIGHT: 100%;
	MARGIN: 0px;
	PADDING: 0px;
	BACKGROUND-COLOR: #FFFFFF;
}
FORM {
	MARGIN: 0px;
}
TABLE,IMG {
	BORDER: 0px;
}

/*
	Content enviroment styles
*/
TABLE.Container {
	HEIGHT: 100%;
}
TD.Container {
	VERTICAL-ALIGN: top;
	HEIGHT: 90%;
}

/*
	Header styles
*/
.HeadLogo {
	background-color: #FFFFFF;	
}
.HeadText {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}
.HeadLine {
	BACKGROUND-COLOR: #006688;
}
.HeadThinLine {
	BACKGROUND-COLOR: #999999;
	HEIGHT: 1px;
}
.PrintableRow {
	WIDTH: 100%;
	VERTICAL-ALIGN: middle;
	PADDING-RIGHT: 176px;
	HEIGHT: 18px;
}
.HeadTopPad {
	HEIGHT: 18px;
}
.HeadTopPad IMG {
	WIDTH: 1px;
	HEIGHT: 18px;
}

/*
	Footer styles
*/
.BottomRow {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
}
.BottomBox {
	BACKGROUND-COLOR: #006688;
	COLOR: #8E4B00;
	HEIGHT: 22px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
}
.Bottom {
	BACKGROUND-COLOR: #006688;
	COLOR: #FFFFFF;
}
A.Bottom:link {
	BACKGROUND-COLOR: #FFD44C;
	COLOR: #8E4B00;
	TEXT-DECORATION: underline;
}
A.Bottom:visited {
	BACKGROUND-COLOR: #FFD44C;
	COLOR: #8E4B00;
	TEXT-DECORATION: underline;
}
A.Bottom:hover {
	BACKGROUND-COLOR: #FFD44C;
	COLOR: #8E4B00;
	TEXT-DECORATION: none;
}
A.Bottom:active {
	BACKGROUND-COLOR: #FFD44C;
	COLOR: #8E4B00;
	TEXT-DECORATION: underline;
}
.BottomPopup {
	WIDTH: 100%;
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 10px;
}
.BottomPopup A {
	FONT-WEIGHT: bold;
}
.BottomDialogBox {
	BACKGROUND-COLOR: #FFE591;
	PADDING-LEFT: 13px;
	PADDING-TOP: 10px;
	PADDING-BOTTOM: 10px;
}
.BottomText {
	font-weight: bold;
	color: #FFFFFF;	
}
.speedmenu:link {
	COLOR: #FFFFFF;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.speedmenu:visited {
	COLOR: #FFFFFF;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.speedmenu:hover {
	COLOR: #FFFF99;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.speedmenu_bar {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
/*
	Common styles
*/
.SubmitBox {
	PADDING-TOP: 10px;
}
HR.Line {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.SectionBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
}
.Text {
	COLOR: #000000;
}
.NumberOfArticles {
	COLOR: #000000;
	FONT-WEIGHT: bold;
}
.TopLabel {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.Message {
	COLOR: #FF3300;
}
.Line {
	BACKGROUND-COLOR: #FF6600;
}
TD.ButtonsRow {
	PADDING-TOP: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 12px;
	PADDING-BOTTOM: 2px;
}
.CustomerMessage {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
}
.ErrorMessage {
	COLOR: #CC0000;
	FONT-WEIGHT: bold;
}
.Star {
	COLOR: #FF0000;
}
.TableHead {
	BACKGROUND-COLOR: #CCCCCC;
	FONT-WEIGHT: bold;
}
.TableSubHead {
	BACKGROUND-COLOR: #EEEEEE;
}
.Spc {
	WIDTH: 1px;
	HEIGHT: 1px;
}
TABLE.EmptyBox {
	WIDTH: 100%;
}
TABLE.EmptyBox TR TD {
	PADDING: 0px;
}

/*
	Popup styles
*/
.PopupContainer {
	HEIGHT: 100%;
	WIDTH: 100%;
	TEXT-ALIGN: center;
}
.PopupTitle {
	BACKGROUND-COLOR: #FFD44C;
	HEIGHT: 15px;
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: center;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.PopupBG {
	BACKGROUND-COLOR: #FFD44C;
}
.PopupHelpLink {
	FONT-SIZE: 9px;
	COLOR: #330000;
	TEXT-DECORATION: none;
}

/*
	BuyNow section
*/
.BuyNowQuantity {
	HEIGHT: 25px;
	WIDTH: 15%;
	WHITE-SPACE: nowrap;
	PADDING-RIGHT: 10px;
}
.BuyNowPrices {
	WIDTH: 100%;
	HEIGHT: 25px;
	VERTICAL-ALIGN: middle;
}

/*
	Vertical menu
*/
.VertMenuLeftColumn {
	WIDTH: 150px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 20px;
}
.VertMenuRightColumn {
	WIDTH: 150px;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 6px;
}
.VertMenuBox {
	BACKGROUND-COLOR: #FFFFFF;
	PADDING: 1px;
}
.VertMenuBorder {
	BACKGROUND-COLOR: #AAAAAA;
}
TD.VertMenuTitle {
	BACKGROUND-COLOR: #FFDE86;
	PADDING: 1px;
}
FONT.VertMenuTitle {
	BACKGROUND-COLOR: #FFDE86;
	COLOR: #1a3f00;
	FONT-WEIGHT: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 5px;
}
.VertMenuSubTitle {
	BACKGROUND-COLOR: #FFA92F;
}
.VertMenuTitleIcon {
	MARGIN-LEFT: 8px;
	MARGIN-RIGHT: 8px;
	VERTICAL-ALIGN: middle;
}
.VertMenuItems {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.VertMenuItems:link {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.VertMenuItems:visited {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.VertMenuItems:hover {
	COLOR: #550000;
	TEXT-DECORATION: underline;
}
A.VertMenuItems:active  {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
.VertMenuHr {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	COLOR: #999999;
}
.CategoriesList {
	FONT-SIZE: 12px;
}
.VertMenuContent {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.EventsMainTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	padding-bottom: 10px;
}
.EventDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #385f00;
	font-weight: bold;
}
.EventDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	padding-bottom: 10px;
}
.EventSlot {
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.wwmp_loginlabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.wwmp_logingobtn {
	padding-right: 10px;
}
.wwmp_logoutbtn {
	padding-top: 10px;
	padding-bottom: 10px;
}
.wwmp_logoutbtn_head {
	padding-left: 10px;
	padding-right: 10px;
}
.wwmp_loginnoticehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.wwmp_cartpic {
	padding-right: 5px;
}
.wwmp_minicartsection {
	padding-bottom: 10px;
}
.wwmp_vertmenulink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_vertmenulink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_vertmenulink:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_vertmenulink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0033FF;
	font-weight: bold;
	text-decoration: underline;
}

/*
	Dialog box
*/
TABLE.DialogBox {
	WIDTH: 100%;
	HEIGHT: 100%;
	VERTICAL-ALIGN: top;
}
TD.DialogBox {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
	PADDING: 10px;
}
.DialogBorder {
	BACKGROUND-COLOR: #3366CC;
	HEIGHT: 100%;
	PADDING: 0px;
}
TD.DialogTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(images/dialog_bg_n.gif);
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	TEXT-ALIGN: left;
}
FONT.DialogTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	TEXT-ALIGN: left;
	MARGIN-LEFT: 10px;
}
TD.DialogBox_bioexcell {
	font-size: 10px;
	background-color: #FFFFFF;
}
.DialogBorder_bioexcell {
	background-color: #000066;
}
TD.DialogTitle_bioexcell {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(images/dialog_bg_n_bioexcell.gif);
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	TEXT-ALIGN: left;
}
TD.DialogBoxShoppingCart {
	font-size: 10px;
	background-color: #FFFFFF;
}
.DialogBorderShoppingCart {
	background-color: #aaaaaa;
}
TD.DialogTitleShoppingCart {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BACKGROUND-IMAGE: url(images/wwmp_dialogshoppingcart11.03.06.jpg);
	VERTICAL-ALIGN: bottom;
	HEIGHT: 35px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 0px;
	TEXT-ALIGN: left;
}

/*
	Dialog info box
*/
TABLE.DialogInfo {
	WIDTH: 85%;
	TEXT-ALIGN: center;
}
.DialogInfoTitle {
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: bottom;
	TEXT-ALIGN: left;
	HEIGHT: 15px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
}
.DialogInfoTitleBorder {
	BACKGROUND-COLOR: #FF8600;
	PADDING: 0px;
	VERTICAL-ALIGN: bottom;
	HEIGHT: 15px;
}
.DialogInfoBorder {
	BACKGROUND-COLOR: #FF8600;
	PADDING: 0px;
}
.DialogTr {
	COLOR: #20B884;
}
.DialogInfoIcon {
	WIDTH: 16px;
	HEIGHT: 16px;
}
.DialogInfoClose {
	WIDTH: 15px;
	HEIGHT: 13px;
}

/*
	Dialog tools section
*/
.NavDialogTitle {
	WIDTH: 50%;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	COLOR: #330000;
	PADDING-LEFT: 8px;
}   
.NavDialogBorder {
	BACKGROUND-COLOR: #FFCC33;
}
.NavDialogBox {
	BACKGROUND-COLOR: #FFFFCC;
}
.NavDialogSeparator {
	WIDTH: 100%;
	HEIGHT: 14px;
	BACKGROUND-IMAGE: url(images/separator.gif);
	PADDING-LEFT: 7px;
}
.NavDialogSeparator IMG {
	WIDTH: 100%;
	HEIGHT: 14px;
}
.NavDialogCell {
	PADDING-RIGHT: 3px;
}
.NavDialogCell A IMG {
	WIDTH: 9px;
	HEIGHT: 9px;
}

/*
	Product details page
*/
.ProductTitle {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductTitleHidden {
	COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
}
.ProductDetailsTitle {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductDetails {
	COLOR: #000000;
}
.ProductPriceTitle {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPriceConverting {
	COLOR: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPrice {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
}
.ProductPriceSmall {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
}
.SaveMoneyLabel {
	WIDTH: 57px;
	HEIGHT: 57px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	BACKGROUND-IMAGE: url(images/save_money.gif);
	BACKGROUND-REPEAT: no-repeat;
}
.MarketPrice {
	FONT-SIZE: 14px;
	FONT-FAMILY: Times New Roman;
}
.PImgBox {
	TEXT-ALIGN: left;
	VERTICAL-ALIGN: top;
	WIDTH: 100px;
	PADDING-RIGHT: 8px;
}

/*
	Products list
*/
TD.PListImgBox {
	WIDTH: 125px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: top;
	WHITE-SPACE: nowrap;
	PADDING-RIGHT: 8px;
}
DIV.PListImgBox {
	WHITE-SPACE: nowrap;
}
HR.PListLine {
	WIDTH: 100%;
	HEIGHT: 1px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
}
.PListTaxBox {
	PADDING-LEFT: 70px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
}
.PListCell {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
	PADDING: 10px;
	VERTICAL-ALIGN: top;
}

/*
	Items style
*/
.ItemsList {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
.ItemsListDisabled {
	COLOR: #909090;
}
A.ItemsList:link {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:visited {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:hover {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
A.ItemsList:active {
	COLOR: #330000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

/*
	Location bar
*/
.NavigationPath {
	COLOR: #CC6666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.NavigationPath:link {
	COLOR: #CC6666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
.NavigationPath:visited {
	COLOR: #CC6666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}
.NavigationPath:hover {
	COLOR: #CC6666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}
.NavigationPath:active  {
	COLOR: #CC6666;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
}

/*
	Buttons
*/
.FormButton {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
TABLE.ButtonTable {
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
	DIRECTION: ltr;
}
TD.Button {								 
	BACKGROUND: url(images/butbg.gif);
	BACKGROUND-COLOR: #FF8600;
	BACKGROUND-REPEAT: repeat-x;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	VERTICAL-ALIGN: middle;
	WHITE-SPACE: nowrap;
}
FONT.Button {								 
	FONT-FAMILY: Arial;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
IMG.ButtonSide {
	WIDTH: 7px;
	HEIGHT: 14px;
}
.SimpleButton TR TD {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
A.Button:link, A.Button:visited, A.Button:hover, A.Button:active {
	COLOR: #330000;
	FONT-WEIGHT: bold;
}
.GoImage {
	WIDTH: 21px;
	HEIGHT: 18px;
	VERTICAL-ALIGN: middle;
	BORDER: 0px;
}

/*
	Small text/link style
*/
.SmallNote:link {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:visited {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:hover {
	COLOR: #7C4C00;
	TEXT-DECORATION: underline;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallNote:active {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}
.SmallText {
	COLOR: #7C4C00;
	TEXT-DECORATION: none;
	FONT-SIZE: 9px;
	FONT-FAMILY: Arial, Verdana, Helvetica, Sans-serif;
}

/*
	Category page
*/
.SubcatTitle {
	TEXT-ALIGN: left;
	WIDTH: 95%;
	PADDING-LEFT: 5px;
}
.SubcatInfo {
	TEXT-ALIGN: right;
	WHITE-SPACE: nowrap;
	COLOR: #000000;
}

/*
	Search sort bar
*/
.SearchSortTitle {
	FONT-WEIGHT: bold;
	PADDING-RIGHT: 20px;
}
.SearchSortLink:link, .SearchSortLink:visited, .SearchSortLink:hover, .SearchSortLink:active {
	TEXT-DECORATION: underline;
}
.SearchSortImg {
	WIDTH: 9px;
	HEIGHT: 9px;
	MARGIN-RIGHT: 5px;
}
.SearchSortCell {
	PADDING-RIGHT: 20px;
}

/*
	Expandable section
*/
.ExpandSectionMark {
	WIDTH: 11px;
	CURSOR: pointer;
	VERTICAL-ALIGN: middle;
}

/*
	Tab mechanism
*/
.Tab {
	BACKGROUND-COLOR: #FFD44C;
	FONT-WEIGHT: bold;
	TEXT-TRANSFORM: uppercase;
	WIDTH: 85px;
	HEIGHT: 30px;
	TEXT-ALIGN: center;
}
.TabTop {
	HEIGHT: 5px;
	BACKGROUND-COLOR: #FFD44C;
}
TD.TabLeftSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(images/tab_l.gif);
}
TD.TabRightSide {
	WIDTH: 9px;
	BACKGROUND-IMAGE: url(images/tab_r.gif);
}
TD.TabLeftCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(images/tab_c1.gif);
}
TD.TabRightCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(images/tab_c2.gif);
}
TD.TabCenter {
	HEIGHT: 9px;
	BACKGROUND-IMAGE: url(images/tab_b.gif);
}
IMG.TabCorner {
	WIDTH: 9px;
	HEIGHT: 9px;
}
IMG.TabSide {
	WIDTH: 9px;
	HEIGHT: 1px;
}

/*
	Pagination mechanism
*/
.NavigationArrow {
	WIDTH: 9px;
	HEIGHT: 9px;
}
.NavigationTitle {
	WHITE-SPACE: nowrap;
	HEIGHT: 14px;
	PADDING-RIGHT: 10px;
}
.NavigationCell {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(images/page.gif);
	WIDTH: 17px;
	HEIGHT: 14px;
}
.NavigationCell A:link, .NavigationCell A:visited, .NavigationCell A:hover, .NavigationCell A:active {
	TEXT-DECORATION: none;
}
.NavigationCell IMG {
	HEIGHT: 1px;
	WIDTH: 17px;
}
.NavigationCellWide {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: bottom;
	BACKGROUND-IMAGE: url(images/page_wide.gif);
	WIDTH: 23px;
	HEIGHT: 14px;
}
.NavigationCellWide A:link, .NavigationCellWide A:visited, .NavigationCellWide A:hover, .NavigationCellWide A:active {
	TEXT-DECORATION: none;
}
.NavigationCellWide IMG {
	HEIGHT: 1px;
	WIDTH: 23px;
}
.NavigationCellSel {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold;
	WIDTH: 15px;
}

/*
	Subheader styles
*/
TABLE.SubHeaderGrey {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderGrey {
	COLOR: #666666;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderGreyLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
	PADDING: 0px;
}
TABLE.SubHeaderBlack {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderBlack {
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderBlackLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #000000;
	PADDING: 0px;
}
TABLE.SubHeaderRed {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeaderRed {
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
.SubHeaderRedLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #550000;
	PADDING: 0px;
}
TABLE.SubHeader {
	WIDTH: 100%;
	MARGIN-BOTTOM: 10px;
}
.SubHeader {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING: 0px;
}
.SubHeaderLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #FF6600;
	PADDING: 0px;
}

/*
	User profile page
*/
.RegSectionTitle {
	COLOR: #550000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
}

/*
	Popup image
*/
.PImageImageCell {
	PADDING: 5px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	HEIGHT: 100%;
}
.PImageImageCell IMG {
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
}

.PImageNumbersCell {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	WHITE-SPACE: nowrap;
}
.PImageLine {
	HEIGHT: 1px;
	BACKGROUND-COLOR: #CCCCCC;
}
.PImageLine IMG {
	HEIGHT: 1px;
}
BODY.PImage {
	BACKGROUND-COLOR: #FFFFFF;
}
.PImagePageRow {
	HEIGHT: 30px;
	VERTICAL-ALIGN: middle;
	PADDING-LEFT: 10px;
}

/*
	Customer reviews module
*/
IMG.StarImg {
	WIDTH: 14px;
	HEIGHT: 14px;
}

/*
	Manufacturers module
*/
.ManufacturersItem {
	TEXT-ALIGN: left;
	WHITE-SPACE: nowrap;
	WIDTH: 95%;
	PADDING-LEFT: 5px;
}

/*
	Recommended products module
*/
UL.RPItems {
	PADDING-LEFT: 10px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
}

/*
	Webmaster mode
*/
SPAN.Lbl {
	COLOR: green;
	FONT-WEIGHT: bold;
}
.Section {
	MARGIN: 0px;
	PADDING: 0px;
}

/*
	Fast Lane Checkout module
*/
.FLCAuthBox {
	WHITE-SPACE: nowrap;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 5px;
}
.FLCAuthPreBox {
	PADDING-LEFT: 30px;
	HEIGHT: 20px;
	WIDTH: 100%;
}
.FLCTopPad {
	VERTICAL-ALIGN: middle;
	HEIGHT: 15px;
}
.FLCTopPad IMG {
	WIDTH: 1px;
	HEIGHT: 15px;
}
TD.FLCDialogCell {
	WIDTH: 50%;
	HEIGHT: 220px;
	TEXT-ALIGN: center;
}
TABLE.FLCDialog {
	WIDTH: 100%;
	HEIGHT: 100%;
}

/*
		-- ADDONS --
*/

/*
	Gift registry module
*/
.HighLight {
	BACKGROUND-COLOR: #FFFFCC;
}

/*
	Feature comparison module
*/
TABLE.CompareBtn {
	CURSOR: pointer;
}
TD.CompareBtnLeft {
	HEIGHT: 18px;
	WIDTH: 21px;
	BACKGROUND-IMAGE: url(images/compare1.gif);
}
TD.CompareBtnLeft IMG {
	HEIGHT: 18px;
	WIDTH: 21px;
}
TD.CompareBtnMain {
	BACKGROUND-IMAGE: url(images/compare2.gif);
	BACKGROUND-REPEAT: repeat-x;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 5px;
	PADDING-TOP: 2px;
}
TD.CompareBtnMainMozilla {
	BACKGROUND-IMAGE: url(images/compare2.gif);
	BACKGROUND-REPEAT: repeat-x;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 5px;
	PADDING-TOP: 1px;
}
TD.CompareBtnRight {
	HEIGHT: 18px;
	WIDTH: 9px;
}
TD.CompareBtnRight IMG {
	HEIGHT: 18px;
	WIDTH: 9px;
}
TD.FCompProductSelBox {
	PADDING: 0px;
	WHITE-SPACE: nowrap;
}
TD.FCompProductButtonBox {
	PADDING-LEFT: 25px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-RIGHT: 0px;
	WIDTH: 100%;
	WHITE-SPACE: nowrap;
}
TD.FCompProductAddCL {
	PADDING-TOP: 10px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-RIGHT: 0px;
}

TD.FCompFeatureHCell {
	VERTICAL-ALIGN: top;
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #EEEEEE;
	FONT-WEIGHT: bold;
}
.HightLightEqualRow {
	BACKGROUND-COLOR: #ffe8af;
	TEXT-ALIGN: center;
}
.EqualRow {
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}

/*
	Special offers module
*/
.SpecialOffersPrice {
	COLOR: #FF3300;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
}
.SpecialOffersThumb {
	DISPLAY: inline;
	MARGIN-LEFT: -51px;
}
.SpecialOffersThumb A IMG {
	WIDTH: 47px;
	HEIGHT: 44px;
}

/*
	Fancy categories module
*/
.CatMenuItemOff {
	BACKGROUND-COLOR: transparent;
	COLOR: #330000;
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 3px;
	MARGIN-TOP: 3px;
	MARGIN-LEFT: 1px;
	MARGIN-RIGHT: 0px;
	CURSOR: pointer;
	FONT-SIZE: 12px;
}
.CatMenuItemOffExp {
	BACKGROUND-COLOR: transparent;
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 1px;
	MARGIN-TOP: 1px;
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 3px;
	CURSOR: pointer;
}
.CatMenuItemOn {   
	BACKGROUND-COLOR: #FF8600;
	COLOR: #330000;
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	MARGIN-BOTTOM: 3px;
	MARGIN-TOP: 3px;
	MARGIN-LEFT: 1px;
	MARGIN-RIGHT: 0px;
	CURSOR: pointer;
	FONT-SIZE: 12px;
}
.CatSubMenu {
	BACKGROUND-COLOR: #FFD44C;
	BORDER-RIGHT: #8E4B00 1px solid;
	BORDER-TOP: #8E4B00 1px solid;
	BORDER-LEFT: #8E4B00 1px solid;
	BORDER-BOTTOM: #8E4B00 1px solid;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	WIDTH: 150px;
}
A.CatMenuItem {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial;
	CURSOR: pointer;
}
A.CatMenuItem:link {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.CatMenuItem:visited {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.CatMenuItem:hover {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A.CatMenuItem:active {
	COLOR: #330000;
	TEXT-DECORATION: none;
}
A#nojs.CatMenuItem:hover {
	BACKGROUND-COLOR: #FF8600;
	COLOR: #330000;
	TEXT-DECORATION: none;
}
IMG.FCIcon {
	WIDTH: 16px;
	HEIGHT: 16px;
	BORDER-WIDTH: 0px;
	MARGIN-LEFT: 2px;
	MARGIN-RIGHT: 3px;
}
IMG.FCTriangle {
	WIDTH: 9px;
	HEIGHT: 9px;
	BORDER-WIDTH: 0px;
	MARGIN-LEFT: 3px;
}
TABLE.FCItemTable {
	WIDTH: 100%;
	BORDER-WIDTH: 0px;
	MARGIN: 0px;
	TEXT-ALIGN: left;
}
TD.FCIconCell {
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: center;
}
TD.FCTriangleCell {
	VERTICAL-ALIGN: middle;
	TEXT-ALIGN: right;
}
TD.FCChain {
	WIDTH: 18px;
	BACKGROUND-REPEAT: repeat-y;
}
TD.FCChain IMG {
	WIDTH: 18px;
	HEIGHT: 1px;
}
TD.FCExplorerBox {
	WIDTH: 37px;
	VERTICAL-ALIGN: top;
	BACKGROUND-REPEAT: repeat-y;
}

/*
	Product configurator module
*/
.ProductBG {
	BACKGROUND-COLOR: #ffffff;
}
.SlotCell {
	WIDTH: 50%;
	HEIGHT: 35px;
	PADDING-TOP: 25px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}
.SlotProductCell {
	WIDTH: 50%;
	HEIGHT: 35px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: center;
}
TABLE.PCSummaryTable {
	WIDTH: 100%;
	BACKGROUND-COLOR: #ffffff;
}

/*
	Survey module
*/
H1.SurveyName {
	FONT-WEIGHT: bold;
}
.SurveyHeader {
	FONT-SIZE: 11px;
}
.SurveyHeaderMenu {
	FONT-SIZE: 10px;
}
.SurveyFooter {
	FONT-SIZE: 11px;
}
.SurveyFooterMenu {
	FONT-SIZE: 10px;
}
.SurveyQuestion {
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING: 2px;
}
.SurveyQuestionMenu {
	FONT-WEIGHT: bold;
	PADDING: 0px;
}
TEXTAREA.Survey {
}
.SurveyAnswer {
	PADDING: 2px;
	WIDTH: 100%;
}
.SurveyAnswerMenu {
	PADDING: 0px;
	WIDTH: 100%;
}
TD.SurveyAnswerMark {
	PADDING: 2px;
	WIDTH: 15px;
}
TD.SurveyAnswerMarkMenu {
	PADDING: 0px;
	WIDTH: 15px;
}
.SurveyBar {
	HEIGHT: 10px;
	BACKGROUND-COLOR: blue;
}
.SurveyBarHL {
    HEIGHT: 10px;
    BACKGROUND-COLOR: green;
}
.SurveyStatLabel {
	PADDING-LEFT: 6px;
	WHITE-SPACE: nowrap;
}
.StatisticsBar {
	BACKGROUND-COLOR: #FFCE31;
}   
.StatisticsBarHL {
	BACKGROUND-COLOR: #FF8400;
}   
.SurveyAnswers {
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 5px;
}
.SurveyAnswersMenu {
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	PADDING-BOTTOM: 5px;
}
.SurveyAnswerComment {
	PADDING: 2px;
}
.SurveyAnswerCommentMenu {
	PADDING: 0px;
}
/*
Michael de Leon's CUSTOM STYLES
*/
.wwmp_mission_title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	padding-left: 10px;
}
.wwmp_mission_logo {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}
.wwmp_mission_p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}
.wwmp_mission_p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
}
.wwmp_mission_p3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
}
.wwmp_whatsnewpics {
	padding-right: 13px;
	padding-left: 13px;
}
.wwmp_featuredproductspics, .welcome_box1, .welcome_box2, .welcome_box4, .welcome_box5 {
	padding-bottom: 10px;
}
.welcome_box3 {
	padding-top: 0px;
}
.wwmp_coupon {
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-left-color: #000000;
	border-bottom-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	background-color: #FFFFCC;
}
.wwmp_coupondesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
FONT.wwmp_coupondesc {
	font-size: 36px;
}
.wwmp_couponlabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.wwmp_cart_label {
	font-size: 12px;
	font-weight: bold;
}
.wwmp_cart_price {
	font-size: 11px;
	font-weight: bold;
	color: #bb0000;
}
.wwmp_cart_subtotal {
	color: #bb0000;
}
.wwmp_cart_label_subtotal {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
}
.wwmp_cart_label_title {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
}
.wwmp_cart_quantitybox {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.wwmp_cart_btns {
	padding-left: 10px;
}
.wwmp_shippingpayment_label {
	font-size: 14px;
	color: #000099;
	font-weight: bold;
}
.wwmp_subcatpics {
	padding-bottom: 5px;
}
.wwmp_checkout_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000099;
	font-weight: bold;
}
A.wwmp_checkout_label:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_checkout_label:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_checkout_label:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0033FF;
	font-weight: bold;
}
.wwmp_cartlogin_desc {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.wwmp_cartlogin_contents {
	padding-bottom: 10px;
}
.wwmp_cartlogin_desc2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.wwmp_shippingprice {
	color: #bb0000;
}
.wwmp_cartplaceorder_section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000099;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wwmp_cartplaceorder_contentstitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}
.wwmp_cartplaceorder_contentsbox {
	border-top-color: #aaaaaa;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	border-left-color: #aaaaaa;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
}
A.wwmp_cartplaceorder_contentitems:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
}
A.wwmp_cartplaceorder_contentitems:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
	font-weight: bold;
}
A.wwmp_cartplaceorder_contentitems:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0033FF;
	font-weight: bold;
}
.wwmp_cartplaceorder_totalsbox {
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	background-color: #cccccc;
}
.wwmp_cartplaceorder_finaltotal {
	color: #CC0000;
}
.wwmp_cartplaceorder_discountprice_label {
	color: #006600;
}
A.wwmp_cartplaceorder_shippingcost:link {
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_cartplaceorder_shippingcost:visited {
	color: #000099;
	font-weight: bold;
	text-decoration: underline;
}
A.wwmp_cartplaceorder_shippingcost:hover {
	color: #0033FF;
	font-weight: bold;
	text-decoration: underline;
}
.wwmp_yourinfo_label, .wwmp_search_label {
	font-weight: bold;
}
.wwmp_yourinfo_title {
	font-size: 14px;
	color: #000099;
	font-weight: bold;
	padding-left: 20px;
}
.wwmp_yourinfo_title2 {
	font-size: 14px;
	color: #000099;
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 20px;
}
.wwmp_yourinfo_notice {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.wwmp_yourinfo_required {
	font-size: 10px;
	color: #000000;
}
.wwmp_yourinfo_star {
	color: #FF0000;
}
.wwmp_categorytitlefont {
	color: #000000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}
.wwmp_product_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	padding-top: 20px;
}
.wwmp_product_labels {
	font-weight: bold;
}
.wwmp_recommends_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	padding-bottom: 5px;
}
.wwmp_manufacturer_banner, .wwmp_manufacturer_link, .wwmp_catalog_banner {
	padding-bottom: 10px;
}
.wwmp_catalog_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	padding-top: 20px;
}
.wwmp_catalog_line {
	padding-bottom: 5px;
	padding-top: 5px;
}
.wwmp_error_body {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}
.wwmp_error_bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.wwmp_error_link {
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: underline;
}
.wwmp_error_link:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: underline;
}
.wwmp_error_link:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: underline;
}
.wwmp_error_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0033FF;
	text-decoration: underline;
}
.wwmp_error_statustext {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
}
TD.wwmp_aboutus_labels, TD.wwmp_contactus_labels, .wwmp_error_lostpw {
	padding-top: 20px;
}
FONT.wwmp_aboutus_labels, FONT.wwmp_contactus_labels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #006699;
}
.wwmp_aboutus_maplink {
	padding-left: 30px;
	padding-top: 10px;
}
.wwmp_aboutus_logo {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.wwmp_aboutus_text, .wwmp_careers_text {
	font-size: 11px;
	color: #000000;
	padding-top: 10px;
}
.wwmp_aboutus_textmain {
	font-size: 11px;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wwmp_aboutus_mapgoogle, .wwmp_error_login, .wwmp_error_lostpw_box {
	padding-top: 10px;
}
.wwmp_aboutus_textlink:link, .wwmp_careers_textlink:link, .wwmp_contactus_textlink:link {
	color: #000099;
	text-decoration: underline;
}
.wwmp_aboutus_textlink:visited, .wwmp_careers_textlink:visited, .wwmp_contactus_textlink:visited {
	color: #000099;
	text-decoration: underline;
}
.wwmp_aboutus_textlink:hover, .wwmp_careers_textlink:hover, .wwmp_contactus_textlink:hover {
	color: #0033FF;
	text-decoration: underline;
}
.wwmp_contactus_textmain, .wwmp_error_lostpw_desc {
	font-size: 11px;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}
.wwmp_careers_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #006699;
	padding-top: 20px;
}
.wwmp_careers_labels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #006699;
	font-weight: bold;
}
.wwmp_careers_blackline {
	padding-top: 5px;
	padding-bottom: 5px;
}
.wwmp_careers_text_overview_label {
	font-size: 11px;
	color: #000000;
	padding-right: 5px;
}
.wwmp_careers_text_overview, .wwmp_careers_text_description, .wwmp_contactus_text, .wwmp_sortby_currentpage, .wwmp_searchresults_status,  {
	font-size: 11px;
	color: #000000;
}

.wwmp_cart_regular_price{
   font-size: 11px;
   color: #000000;
   text-decoration: line-through;
}
.wwmp_search_moreoptions:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.wwmp_contactus_status {
	font-size: 11px;
	color: #990000;
	font-weight: bold;
}
.wwmp_subcat_rowspacing, .wwmp_error_invalidlogin {
	padding-bottom: 10px;
}
.wwmp_sortby_labelbox {
	border-top-color: #000000;
	border-top-width: thin;
	border-right-color: #000000;
	border-right-width: thin;
	border-bottom-color: #000000;
	border-bottom-width: thin;
	border-left-color: #000000;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #999999;
}
.wwmp_sortby_labelselected:link, .wwmp_sortby_labelselected:visited {
	color: #FFFFFF;
	font-size: 11px;
}
.wwmp_sortby_labelselected:hover {
	color: #FFFF99;
	font-size: 11px;
}
.wwmp_sortby_labelspacing {
	padding-left: 10px;
	padding-right: 10px;
}
.wwmp_sortby_labels:link, .wwmp_sortby_labels:visited {
	font-size: 11px;
	color: #000099;
	text-decoration: underline;
}
.wwmp_sortby_labels:hover {
	font-size: 11px;
	color: #0033FF;
	text-decoration: underline;
}
.wwmp_sortby_resultlabel {
	font-size: 11px;
	color: #000000;
	padding-right: 20px;
}
.wwmp_cartlogin_status, .wwmp_vertmenu_black, .wwmp_vertmenu_black:link, .wwmp_vertmenu_black:visited, .wwmp_vertmenu_black:hover {
	color: #000000;
}
.wwmp_whatsnewtitle {
	padding-top: 20px;
	padding-bottom: 10px;
}
